body {
    background-image: url(../../image/1ae0f25c7d1651e828179aa965719925.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
} 
.form-booking-hair{
    border: 1px solid wheat;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 1.7);
    /* background-color: green; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-group #button-booking-hair{
    width: 100px;
    height: 40px;
    background-color: #E86A60;
    border: none;
    border-radius: 10px;
}
.form-booking-hair h1{
    color: #E86A60;
}
