body {
    background-image: url(/NienSalon-Hair/image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 135%;
}

#container-register {
    margin-top: 13%;
}

#subContainer-register {
    width: 99%;
}

.role-container {
    display: flex;
}
.gender-container{
    display: flex;

}
.form-check{
    margin-left: 30px;
}
#form-check-role {
    width: 100%;
    
}
#form-check-gender{
    width: 100%;

}
.role-container .form-check {
    margin-right: 20px;
}

#askHaveAcc {
    color: #6c757d !important;
}